{% extends "base.html" %}
{% load static %}

{% block title %}My Watchlist | MovieMeter{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'movies/home.css' %}">
<link rel="stylesheet" href="{% static 'movies/watchlist.css' %}">
{% endblock %}
{% block navbar %}
  {% include "includes/navbar.html" with mode="mini" %}
{% endblock %}

{% block content %}

<div class="watchlist-page">

 
  <div class="watchlist-header">
    <div class="watchlist-title">
      <h1>My Watchlist</h1>
      <p>{{ watchlist_count }} movies saved</p>
    </div>

    <div class="watchlist-actions">
      <a href="{% url 'movies-home' %}" class="browse-btn">Browse Movies</a>
    </div>
  </div>

  {% if watchlist_movies %}
  <section class="movie-grid watchlist-grid">
    {% for item in watchlist_movies %}
      <a href="{% url 'movie-detail' item.movie.id %}" class="movie-card-link">
        <div class="movie-card">

          <div class="poster-container">
            {% if item.movie.poster_path %}
              <img src="https://image.tmdb.org/t/p/w500{{ item.movie.poster_path }}" alt="{{ item.movie.title }}">
            {% else %}
              <div class="no-image">No Poster</div>
            {% endif %}

            <div class="overlay">
              <span class="details-btn">Open</span>
            </div>
          </div>

          <div class="card-content">
            <h3>{{ item.movie.title }}</h3>

            <p class="genres">
              {% for g in item.movie.categories.all %}
                {{ g.name }}{% if not forloop.last %} • {% endif %}
              {% endfor %}
            </p>
          </div>

        </div>
      </a>
    {% endfor %}
  </section>

  {% else %}
  <div class="empty-watchlist">
    <div class="empty-icon">🎬</div>
    <h2>Your Watchlist is empty</h2>
    <p>Save movies here and come back anytime.</p>
    <a href="{% url 'movies-home' %}" class="browse-btn big">Browse Movies</a>
  </div>
  {% endif %}

</div>

{% endblock %}
