{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Movie Opinion Meter{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/password-toggle.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>

{% if messages %}
<div class="messages-container">
    {% for message in messages %}
        <div class="flash-message {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

{% block content %}{% endblock %}
 <script src="{% static 'js/password-toggle.js' %}"></script>

</body>
</html>
