{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Movie Opinion Meter{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/password-toggle.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

{% if messages %}
<div class="toast-container" id="toast-container">
    {% for message in messages %}
        <div class="toast toast-{{ message.tags }}">
            <div class="toast-icon"></div>

            <div class="toast-body">
                <div class="toast-title">
                    {% if "success" in message.tags %}Success
                    {% elif "error" in message.tags %}Error
                    {% elif "warning" in message.tags %}Warning
                    {% elif "info" in message.tags %}Info
                    {% else %}Notice{% endif %}
                </div>

                <div class="toast-text">{{ message }}</div>
            </div>

            <button class="toast-close" type="button">✕</button>
        </div>
    {% endfor %}
</div>
{% endif %}

{% block navbar %}{% endblock %}

{% block content %}{% endblock %}

<div class="app-modal hidden" id="app-confirm-modal">
  <div class="app-modal-backdrop" data-modal-close></div>

  <div class="app-modal-card">
    <h3 class="app-modal-title" id="app-modal-title">Confirm Delete</h3>
    <p class="app-modal-text" id="app-modal-text">
      Are you sure you want to delete this?
    </p>

    <div class="app-modal-actions">
      <button type="button" class="app-modal-cancel" data-modal-cancel>
        Cancel
      </button>

      <button type="button" class="app-modal-danger" data-modal-confirm>
        Delete
      </button>
    </div>
  </div>
</div>

<script src="{% static 'js/password-toggle.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  document.querySelectorAll(".toast").forEach((toast) => {
    const closeBtn = toast.querySelector(".toast-close");

    const timer = setTimeout(() => {
      toast.classList.add("hide");
      setTimeout(() => toast.remove(), 250);
    }, 5000);

    closeBtn.addEventListener("click", () => {
      clearTimeout(timer);
      toast.classList.add("hide");
      setTimeout(() => toast.remove(), 250);
    });
  });
</script>

{% block extra_js %}{% endblock %}

</body>
</html>
